{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,

    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-one-expression-per-line": 0,
    "max-len": ["error", 80]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
